/* Introduction */
.intro{
    font-size: 3em;
    line-height: 1;
    padding: 60px 10px;
}

/* About */
.about{
    border-top: var(--color-3);
    border-bottom: var(--color-3);
    padding: 60px 0;
    display: flex;
    flex-wrap: wrap;
}

.about-info{
    flex: 2 1 300px;
    margin: 0 10px;
}

.about-info h1{
    font-size: 3em;
    margin-bottom: .5em;
}

.about-info p{
    font-size: 1.25em;
    line-height: 1.4;
    margin-bottom: 1em;
    color: var(--color-4);
}

.about-img{
    flex: 1 1 160px;
    margin: 0 10px;
}