.quality{
    display: flex;
    flex-wrap: wrap;
}

.quality-item{
    flex: 1 1 300px;
    margin: 20px 10px;
}

.quality-item h2{
    font-size: 2.25em;
    color: var(--color-5);
    margin-bottom: 20px;
}

.quality-item h2::before{
    content: "";
    display: inline-block;
    width: 8px;
    height: 30px;
    margin-right: 10px;
}

.quality-item:nth-of-type(3n + 1) h2::before{
    background: var(--color-7);
}

.quality-item:nth-of-type(3n + 2) h2::before{
    background: var(--color-8);
}

.quality-item:nth-of-type(3n + 3) h2::before{
    background: var(--color-9);
}

.quality-item p {
    font-size: 1.25em;
    line-height: 1.4;
    color: var(--color-4);
}